* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

button {
    border: none !important;
    color: white !important;
}
/*  */
.btn-d:hover {
    background-color: #ad0011 !important;
}

.btn-p:hover {
    background-color: #0157d9 !important;
}